.gml {
    display: flex;
    justify-content: flex-end;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

form {
    justify-content: center;
}

.extra {}

.foot {}

body {
    background-color: white;
}

.Gmail {
    padding-right: 10px;
}

.Images {
    padding-right: 10px
}

.apps {
    padding-right: 10px
}

.icons {
    padding-right: 10px
}